<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/mentor.css">
</head>

<body>
   <%- include('../includes/navbar.ejs') %>

   <main>
    <h1> Enrolled Courses</h1>
   </main>

<%- include('../includes/foot.ejs') %>