<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <main>
        <h1>Access Forbidden!!</h1>
    </main>
    

<%- include('../includes/foot.ejs') %>